<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/head::head"></th:block>
<meta charset="UTF-8" />
<style>
html {
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
}

body {
	background: linear-gradient(rgba(33, 33, 37, 0.6), rgba(33, 33, 37, 0.6)) 100%,
		url('../images/place-reservation.jpg'); 
	height: 100%;
	
}
</style>
</head>
<body id="bg">
	<th:block th:insert="fragments/navbar::navbar"></th:block>

	<div class="container mt-5">
		<div class="row">

			<form class="container"
				th:action="@{/postVoie/{id}(id=${secteur.id})}"
				th:object="${voieModel}" method="POST">

				<fieldset class="row">
					<legend class="text-center text-light h4 border-text">Ajouter
						une Voie</legend>
				</fieldset>
				<span class="mb-3"></span>
				<div class="form-group row">
					<label class="col-12 text-light h5 border-text">Nom </label> <input
						type="text" class="form-control col-12 col-sm-9"
						th:field="*{nomVoie}" />
					<div class="offset-3 text-danger" th:errors="*{nomVoie}"></div>
				</div>
				<div class="form-group row">
					<label class="col-12 text-light h5 border-text">Cotation </label>
					<select class="form-control col-12 col-sm-2"
						th:field="*{cotations}">
						<option th:each="cot: ${listCotation}" th:value="${cot}" th:text="${cot}"></option>
					</select>
					<div class="text-danger" th:errors="*{cotations}"></div>
				</div>
				<div class="form-group row">
					<label class="col-12 text-light h5 border-text">Nombres de
						relais </label> <input type="number" class="form-control  col-12 col-sm-2"
						min="0" max="50" th:field="*{nbreRelais}" />
					<div class="text-danger" th:errors="*{nbreRelais}"></div>
				</div>

				<div class="form-group row">
					<label class="col-12  text-light h5 border-text">Nombres de
						points </label> <input type="number" class="form-control  col-12 col-sm-2"
						min="0" max="50" th:field="*{points}" />
					<div th:errors="*{points}"></div>
				</div>
				<div class="form-group row">
					<label class="col-12  text-light h5 border-text">Nombres de
						longeurs </label> <input type="number"
						class="form-control  col-12 col-sm-2" min="0" max="50"
						th:field="*{longeurId}" />
					<div th:errors="*{longeurId}"></div>
				</div>
				<div class="form-group row">
					<label class="col-12  text-light h5 border-text">
						Description </label>
					<textarea class="form-control col-12 col-sm-9"
						th:field="*{descriptionVoie}" /></textarea>
					<div class="offset-3 text-danger" th:errors="*{descriptionVoie}"></div>
				</div>
				<div class="row">
					<input type="submit" value="Ajouter"
					class="col-12  col-md-2  btn btn-secondary btn-lg border-button  text-light">
				</div>

			</form>
		</div>
	</div>
	<th:block th:insert="fragments/footer::footer"></th:block>
</body>
</html>